$path: "./ui/fonts/";

// 100

@font-face {
  font-family: 'Helios';
  src: url($path+'Helios/HeliosThinC.eot');
  src: local($path+'Helios/HeliosThinC'),
      url($path+'Helios/HeliosThinC.eot?#iefix') format('embedded-opentype'),
      url($path+'Helios/HeliosThinC.woff2') format('woff2'),
      url($path+'Helios/HeliosThinC.woff') format('woff'),
      url($path+'Helios/HeliosThinC.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Helios';
  src: url($path+'Helios/HeliosThinC-Italic.eot');
  src: local($path+'Helios/HeliosThinC Italic'), local($path+'Helios/HeliosThinC-Italic'),
      url($path+'Helios/HeliosThinC-Italic.eot?#iefix') format('embedded-opentype'),
      url($path+'Helios/HeliosThinC-Italic.woff2') format('woff2'),
      url($path+'Helios/HeliosThinC-Italic.woff') format('woff'),
      url($path+'Helios/HeliosThinC-Italic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

// 100 Ext

@font-face {
  font-family: 'HeliosExt';
  src: url($path+'Helios/HeliosExtThinC.eot');
  src: local($path+'Helios/HeliosExtThinC'),
      url($path+'Helios/HeliosExtThinC.eot?#iefix') format('embedded-opentype'),
      url($path+'Helios/HeliosExtThinC.woff2') format('woff2'),
      url($path+'Helios/HeliosExtThinC.woff') format('woff'),
      url($path+'Helios/HeliosExtThinC.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'HeliosExt';
  src: url($path+'Helios/HeliosExtThinC-Italic.eot');
  src: local($path+'Helios/HeliosExtThinC Italic'), local($path+'Helios/HeliosExtThinC-Italic'),
      url($path+'Helios/HeliosExtThinC-Italic.eot?#iefix') format('embedded-opentype'),
      url($path+'Helios/HeliosExtThinC-Italic.woff2') format('woff2'),
      url($path+'Helios/HeliosExtThinC-Italic.woff') format('woff'),
      url($path+'Helios/HeliosExtThinC-Italic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

// 100 Cond

@font-face {
  font-family: 'HeliosCond';
  src: url('HeliosCondThinC.eot');
  src: local('HeliosCondThinC'),
      url('HeliosCondThinC.eot?#iefix') format('embedded-opentype'),
      url('HeliosCondThinC.woff2') format('woff2'),
      url('HeliosCondThinC.woff') format('woff'),
      url('HeliosCondThinC.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
    font-family: 'HeliosCond';
    src: url('HeliosCondThinC-Italic.eot');
    src: local('HeliosCondThinC Italic'), local('HeliosCondThinC-Italic'),
        url('HeliosCondThinC-Italic.eot?#iefix') format('embedded-opentype'),
        url('HeliosCondThinC-Italic.woff2') format('woff2'),
        url('HeliosCondThinC-Italic.woff') format('woff'),
        url('HeliosCondThinC-Italic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}



// 300

@font-face {
  font-family: 'Helios';
  src: url($path+'Helios/HeliosLightC.eot');
  src: local($path+'Helios/HeliosLightC'),
      url($path+'Helios/HeliosLightC.eot?#iefix') format('embedded-opentype'),
      url($path+'Helios/HeliosLightC.woff2') format('woff2'),
      url($path+'Helios/HeliosLightC.woff') format('woff'),
      url($path+'Helios/HeliosLightC.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Helios';
  src: url($path+'Helios/HeliosLightC-Italic.eot');
  src: local($path+'Helios/HeliosLightC Italic'), local($path+'Helios/HeliosLightC-Italic'),
      url($path+'Helios/HeliosLightC-Italic.eot?#iefix') format('embedded-opentype'),
      url($path+'Helios/HeliosLightC-Italic.woff2') format('woff2'),
      url($path+'Helios/HeliosLightC-Italic.woff') format('woff'),
      url($path+'Helios/HeliosLightC-Italic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

// 300 Ext

@font-face {
  font-family: 'HeliosExt';
  src: url($path+'Helios/HeliosExtLightC.eot');
  src: local($path+'Helios/HeliosExtLightC'),
      url($path+'Helios/HeliosExtLightC.eot?#iefix') format('embedded-opentype'),
      url($path+'Helios/HeliosExtLightC.woff2') format('woff2'),
      url($path+'Helios/HeliosExtLightC.woff') format('woff'),
      url($path+'Helios/HeliosExtLightC.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'HeliosExt';
  src: url($path+'Helios/HeliosExtLightC-Italic.eot');
  src: local($path+'Helios/HeliosExtLightC Italic'), local($path+'Helios/HeliosExtLightC-Italic'),
      url($path+'Helios/HeliosExtLightC-Italic.eot?#iefix') format('embedded-opentype'),
      url($path+'Helios/HeliosExtLightC-Italic.woff2') format('woff2'),
      url($path+'Helios/HeliosExtLightC-Italic.woff') format('woff'),
      url($path+'Helios/HeliosExtLightC-Italic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

// 300 Cond

@font-face {
  font-family: 'HeliosCond';
  src: url('HeliosCondLightC.eot');
  src: local('HeliosCondLightC'),
      url('HeliosCondLightC.eot?#iefix') format('embedded-opentype'),
      url('HeliosCondLightC.woff2') format('woff2'),
      url('HeliosCondLightC.woff') format('woff'),
      url('HeliosCondLightC.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
    font-family: 'HeliosCond';
    src: url('HeliosCondLightC-Italic.eot');
    src: local('HeliosCondLightC Italic'), local('HeliosCondLightC-Italic'),
        url('HeliosCondLightC-Italic.eot?#iefix') format('embedded-opentype'),
        url('HeliosCondLightC-Italic.woff2') format('woff2'),
        url('HeliosCondLightC-Italic.woff') format('woff'),
        url('HeliosCondLightC-Italic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}



// 400

@font-face {
  font-family: 'Helios';
  src: url($path+'Helios/HeliosC-Italic.eot');
  src: local($path+'Helios/HeliosC Italic'), local($path+'Helios/HeliosC-Italic'),
      url($path+'Helios/HeliosC-Italic.eot?#iefix') format('embedded-opentype'),
      url($path+'Helios/HeliosC-Italic.woff2') format('woff2'),
      url($path+'Helios/HeliosC-Italic.woff') format('woff'),
      url($path+'Helios/HeliosC-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Helios';
  src: url($path+'Helios/HeliosC.eot');
  src: local($path+'Helios/HeliosC'),
      url($path+'Helios/HeliosC.eot?#iefix') format('embedded-opentype'),
      url($path+'Helios/HeliosC.woff2') format('woff2'),
      url($path+'Helios/HeliosC.woff') format('woff'),
      url($path+'Helios/HeliosC.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

// 400 Ext

@font-face {
  font-family: 'HeliosExt';
  src: url($path+'Helios/HeliosExtC.eot');
  src: local($path+'Helios/HeliosExtC'),
      url($path+'Helios/HeliosExtC.eot?#iefix') format('embedded-opentype'),
      url($path+'Helios/HeliosExtC.woff2') format('woff2'),
      url($path+'Helios/HeliosExtC.woff') format('woff'),
      url($path+'Helios/HeliosExtC.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'HeliosExt';
  src: url($path+'Helios/HeliosExtC-Italic.eot');
  src: local($path+'Helios/HeliosExtC Italic'), local($path+'Helios/HeliosExtC-Italic'),
      url($path+'Helios/HeliosExtC-Italic.eot?#iefix') format('embedded-opentype'),
      url($path+'Helios/HeliosExtC-Italic.woff2') format('woff2'),
      url($path+'Helios/HeliosExtC-Italic.woff') format('woff'),
      url($path+'Helios/HeliosExtC-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

// 400 Cond

@font-face {
  font-family: 'HeliosCond';
  src: url('HeliosCondC.eot');
  src: local('HeliosCondC'),
      url('HeliosCondC.eot?#iefix') format('embedded-opentype'),
      url('HeliosCondC.woff2') format('woff2'),
      url('HeliosCondC.woff') format('woff'),
      url('HeliosCondC.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'HeliosCond';
  src: url('HeliosCondC-Italic.eot');
  src: local('HeliosCondC Italic'), local('HeliosCondC-Italic'),
      url('HeliosCondC-Italic.eot?#iefix') format('embedded-opentype'),
      url('HeliosCondC-Italic.woff2') format('woff2'),
      url('HeliosCondC-Italic.woff') format('woff'),
      url('HeliosCondC-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}



// 700

@font-face {
  font-family: 'Helios';
  src: url($path+'Helios/HeliosC-Bold.eot');
  src: local($path+'Helios/HeliosC Bold'), local($path+'Helios/HeliosC-Bold'),
      url($path+'Helios/HeliosC-Bold.eot?#iefix') format('embedded-opentype'),
      url($path+'Helios/HeliosC-Bold.woff2') format('woff2'),
      url($path+'Helios/HeliosC-Bold.woff') format('woff'),
      url($path+'Helios/HeliosC-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Helios';
  src: url($path+'Helios/HeliosC-BoldItalic.eot');
  src: local($path+'Helios/HeliosC Bold Italic'), local($path+'Helios/HeliosC-BoldItalic'),
      url($path+'Helios/HeliosC-BoldItalic.eot?#iefix') format('embedded-opentype'),
      url($path+'Helios/HeliosC-BoldItalic.woff2') format('woff2'),
      url($path+'Helios/HeliosC-BoldItalic.woff') format('woff'),
      url($path+'Helios/HeliosC-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

// 700 Ext

@font-face {
  font-family: 'HeliosExt';
  src: url($path+'Helios/HeliosExtC-Bold.eot');
  src: local($path+'Helios/HeliosExtC Bold'), local($path+'Helios/HeliosExtC-Bold'),
      url($path+'Helios/HeliosExtC-Bold.eot?#iefix') format('embedded-opentype'),
      url($path+'Helios/HeliosExtC-Bold.woff2') format('woff2'),
      url($path+'Helios/HeliosExtC-Bold.woff') format('woff'),
      url($path+'Helios/HeliosExtC-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'HeliosExt';
  src: url($path+'Helios/HeliosExtC-BoldItalic.eot');
  src: local($path+'Helios/HeliosExtC Bold Italic'), local($path+'Helios/HeliosExtC-BoldItalic'),
      url($path+'Helios/HeliosExtC-BoldItalic.eot?#iefix') format('embedded-opentype'),
      url($path+'Helios/HeliosExtC-BoldItalic.woff2') format('woff2'),
      url($path+'Helios/HeliosExtC-BoldItalic.woff') format('woff'),
      url($path+'Helios/HeliosExtC-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

// 700 Cond

@font-face {
  font-family: 'HeliosCond';
  src: url('HeliosCondC-Bold.eot');
  src: local('HeliosCondC Bold'), local('HeliosCondC-Bold'),
      url('HeliosCondC-Bold.eot?#iefix') format('embedded-opentype'),
      url('HeliosCondC-Bold.woff2') format('woff2'),
      url('HeliosCondC-Bold.woff') format('woff'),
      url('HeliosCondC-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
    font-family: 'HeliosCond';
    src: url('HeliosCondC-BoldItalic.eot');
    src: local('HeliosCondC Bold Italic'), local('HeliosCondC-BoldItalic'),
        url('HeliosCondC-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('HeliosCondC-BoldItalic.woff2') format('woff2'),
        url('HeliosCondC-BoldItalic.woff') format('woff'),
        url('HeliosCondC-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}



// 900

@font-face {
  font-family: 'Helios';
  src: url($path+'Helios/HeliosBlackC.eot');
  src: local($path+'Helios/HeliosBlackC'),
      url($path+'Helios/HeliosBlackC.eot?#iefix') format('embedded-opentype'),
      url($path+'Helios/HeliosBlackC.woff2') format('woff2'),
      url($path+'Helios/HeliosBlackC.woff') format('woff'),
      url($path+'Helios/HeliosBlackC.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Helios';
  src: url($path+'Helios/HeliosBlackC-Italic.eot');
  src: local($path+'Helios/HeliosBlackC Italic'), local($path+'Helios/HeliosBlackC-Italic'),
      url($path+'Helios/HeliosBlackC-Italic.eot?#iefix') format('embedded-opentype'),
      url($path+'Helios/HeliosBlackC-Italic.woff2') format('woff2'),
      url($path+'Helios/HeliosBlackC-Italic.woff') format('woff'),
      url($path+'Helios/HeliosBlackC-Italic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

// 900 Ext

@font-face {
  font-family: 'HeliosExt';
  src: url($path+'Helios/HeliosExtBlackC.eot');
  src: local($path+'Helios/HeliosExtBlackC'),
      url($path+'Helios/HeliosExtBlackC.eot?#iefix') format('embedded-opentype'),
      url($path+'Helios/HeliosExtBlackC.woff2') format('woff2'),
      url($path+'Helios/HeliosExtBlackC.woff') format('woff'),
      url($path+'Helios/HeliosExtBlackC.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'HeliosExt';
  src: url($path+'Helios/HeliosExtBlackC-Italic.eot');
  src: local($path+'Helios/HeliosExtBlackC Italic'), local($path+'Helios/HeliosExtBlackC-Italic'),
      url($path+'Helios/HeliosExtBlackC-Italic.eot?#iefix') format('embedded-opentype'),
      url($path+'Helios/HeliosExtBlackC-Italic.woff2') format('woff2'),
      url($path+'Helios/HeliosExtBlackC-Italic.woff') format('woff'),
      url($path+'Helios/HeliosExtBlackC-Italic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

// 900 Cond

@font-face {
  font-family: 'HeliosCond';
  src: url('HeliosCondBlackC.eot');
  src: local('HeliosCondBlackC'),
      url('HeliosCondBlackC.eot?#iefix') format('embedded-opentype'),
      url('HeliosCondBlackC.woff2') format('woff2'),
      url('HeliosCondBlackC.woff') format('woff'),
      url('HeliosCondBlackC.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'HeliosCond';
  src: url('HeliosCondBlackC-Italic.eot');
  src: local('HeliosCondBlackC Italic'), local('HeliosCondBlackC-Italic'),
      url('HeliosCondBlackC-Italic.eot?#iefix') format('embedded-opentype'),
      url('HeliosCondBlackC-Italic.woff2') format('woff2'),
      url('HeliosCondBlackC-Italic.woff') format('woff'),
      url('HeliosCondBlackC-Italic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}