$path: "./ui/fonts/Helios/";

// 100

@font-face {
  font-family: 'Helios';
  src: url($path+'HeliosThinC.eot');
  src: local($path+'HeliosThinC'),
      url($path+'HeliosThinC.eot?#iefix') format('embedded-opentype'),
      url($path+'HeliosThinC.woff2') format('woff2'),
      url($path+'HeliosThinC.woff') format('woff'),
      url($path+'HeliosThinC.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Helios';
  src: url($path+'HeliosThinC-Italic.eot');
  src: local($path+'HeliosThinC Italic'), local($path+'HeliosThinC-Italic'),
      url($path+'HeliosThinC-Italic.eot?#iefix') format('embedded-opentype'),
      url($path+'HeliosThinC-Italic.woff2') format('woff2'),
      url($path+'HeliosThinC-Italic.woff') format('woff'),
      url($path+'HeliosThinC-Italic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

// 100 Ext

@font-face {
  font-family: 'HeliosExt';
  src: url($path+'HeliosExtThinC.eot');
  src: local($path+'HeliosExtThinC'),
      url($path+'HeliosExtThinC.eot?#iefix') format('embedded-opentype'),
      url($path+'HeliosExtThinC.woff2') format('woff2'),
      url($path+'HeliosExtThinC.woff') format('woff'),
      url($path+'HeliosExtThinC.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'HeliosExt';
  src: url($path+'HeliosExtThinC-Italic.eot');
  src: local($path+'HeliosExtThinC Italic'), local($path+'HeliosExtThinC-Italic'),
      url($path+'HeliosExtThinC-Italic.eot?#iefix') format('embedded-opentype'),
      url($path+'HeliosExtThinC-Italic.woff2') format('woff2'),
      url($path+'HeliosExtThinC-Italic.woff') format('woff'),
      url($path+'HeliosExtThinC-Italic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

// 100 Cond

@font-face {
  font-family: 'HeliosCond';
  src: url($path+'HeliosCondThinC.eot');
  src: local($path+'HeliosCondThinC'),
      url($path+'HeliosCondThinC.eot?#iefix') format('embedded-opentype'),
      url($path+'HeliosCondThinC.woff2') format('woff2'),
      url($path+'HeliosCondThinC.woff') format('woff'),
      url($path+'HeliosCondThinC.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
    font-family: 'HeliosCond';
    src: url($path+'HeliosCondThinC-Italic.eot');
    src: local($path+'HeliosCondThinC Italic'), local($path+'HeliosCondThinC-Italic'),
        url($path+'HeliosCondThinC-Italic.eot?#iefix') format('embedded-opentype'),
        url($path+'HeliosCondThinC-Italic.woff2') format('woff2'),
        url($path+'HeliosCondThinC-Italic.woff') format('woff'),
        url($path+'HeliosCondThinC-Italic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}



// 300

@font-face {
  font-family: 'Helios';
  src: url($path+'HeliosLightC.eot');
  src: local($path+'HeliosLightC'),
      url($path+'HeliosLightC.eot?#iefix') format('embedded-opentype'),
      url($path+'HeliosLightC.woff2') format('woff2'),
      url($path+'HeliosLightC.woff') format('woff'),
      url($path+'HeliosLightC.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Helios';
  src: url($path+'HeliosLightC-Italic.eot');
  src: local($path+'HeliosLightC Italic'), local($path+'HeliosLightC-Italic'),
      url($path+'HeliosLightC-Italic.eot?#iefix') format('embedded-opentype'),
      url($path+'HeliosLightC-Italic.woff2') format('woff2'),
      url($path+'HeliosLightC-Italic.woff') format('woff'),
      url($path+'HeliosLightC-Italic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

// 300 Ext

@font-face {
  font-family: 'HeliosExt';
  src: url($path+'HeliosExtLightC.eot');
  src: local($path+'HeliosExtLightC'),
      url($path+'HeliosExtLightC.eot?#iefix') format('embedded-opentype'),
      url($path+'HeliosExtLightC.woff2') format('woff2'),
      url($path+'HeliosExtLightC.woff') format('woff'),
      url($path+'HeliosExtLightC.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'HeliosExt';
  src: url($path+'HeliosExtLightC-Italic.eot');
  src: local($path+'HeliosExtLightC Italic'), local($path+'HeliosExtLightC-Italic'),
      url($path+'HeliosExtLightC-Italic.eot?#iefix') format('embedded-opentype'),
      url($path+'HeliosExtLightC-Italic.woff2') format('woff2'),
      url($path+'HeliosExtLightC-Italic.woff') format('woff'),
      url($path+'HeliosExtLightC-Italic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

// 300 Cond

@font-face {
  font-family: 'HeliosCond';
  src: url($path+'HeliosCondLightC.eot');
  src: local($path+'HeliosCondLightC'),
      url($path+'HeliosCondLightC.eot?#iefix') format('embedded-opentype'),
      url($path+'HeliosCondLightC.woff2') format('woff2'),
      url($path+'HeliosCondLightC.woff') format('woff'),
      url($path+'HeliosCondLightC.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
    font-family: 'HeliosCond';
    src: url($path+'HeliosCondLightC-Italic.eot');
    src: local($path+'HeliosCondLightC Italic'), local($path+'HeliosCondLightC-Italic'),
        url($path+'HeliosCondLightC-Italic.eot?#iefix') format('embedded-opentype'),
        url($path+'HeliosCondLightC-Italic.woff2') format('woff2'),
        url($path+'HeliosCondLightC-Italic.woff') format('woff'),
        url($path+'HeliosCondLightC-Italic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}



// 400

@font-face {
  font-family: 'Helios';
  src: url($path+'HeliosC-Italic.eot');
  src: local($path+'HeliosC Italic'), local($path+'HeliosC-Italic'),
      url($path+'HeliosC-Italic.eot?#iefix') format('embedded-opentype'),
      url($path+'HeliosC-Italic.woff2') format('woff2'),
      url($path+'HeliosC-Italic.woff') format('woff'),
      url($path+'HeliosC-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Helios';
  src: url($path+'HeliosC.eot');
  src: local($path+'HeliosC'),
      url($path+'HeliosC.eot?#iefix') format('embedded-opentype'),
      url($path+'HeliosC.woff2') format('woff2'),
      url($path+'HeliosC.woff') format('woff'),
      url($path+'HeliosC.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

// 400 Ext

@font-face {
  font-family: 'HeliosExt';
  src: url($path+'HeliosExtC.eot');
  src: local($path+'HeliosExtC'),
      url($path+'HeliosExtC.eot?#iefix') format('embedded-opentype'),
      url($path+'HeliosExtC.woff2') format('woff2'),
      url($path+'HeliosExtC.woff') format('woff'),
      url($path+'HeliosExtC.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'HeliosExt';
  src: url($path+'HeliosExtC-Italic.eot');
  src: local($path+'HeliosExtC Italic'), local($path+'HeliosExtC-Italic'),
      url($path+'HeliosExtC-Italic.eot?#iefix') format('embedded-opentype'),
      url($path+'HeliosExtC-Italic.woff2') format('woff2'),
      url($path+'HeliosExtC-Italic.woff') format('woff'),
      url($path+'HeliosExtC-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

// 400 Cond

@font-face {
  font-family: 'HeliosCond';
  src: url($path+'HeliosCondC.eot');
  src: local($path+'HeliosCondC'),
      url($path+'HeliosCondC.eot?#iefix') format('embedded-opentype'),
      url($path+'HeliosCondC.woff2') format('woff2'),
      url($path+'HeliosCondC.woff') format('woff'),
      url($path+'HeliosCondC.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'HeliosCond';
  src: url($path+'HeliosCondC-Italic.eot');
  src: local($path+'HeliosCondC Italic'), local($path+'HeliosCondC-Italic'),
      url($path+'HeliosCondC-Italic.eot?#iefix') format('embedded-opentype'),
      url($path+'HeliosCondC-Italic.woff2') format('woff2'),
      url($path+'HeliosCondC-Italic.woff') format('woff'),
      url($path+'HeliosCondC-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}



// 700

@font-face {
  font-family: 'Helios';
  src: url($path+'HeliosC-Bold.eot');
  src: local($path+'HeliosC Bold'), local($path+'HeliosC-Bold'),
      url($path+'HeliosC-Bold.eot?#iefix') format('embedded-opentype'),
      url($path+'HeliosC-Bold.woff2') format('woff2'),
      url($path+'HeliosC-Bold.woff') format('woff'),
      url($path+'HeliosC-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Helios';
  src: url($path+'HeliosC-BoldItalic.eot');
  src: local($path+'HeliosC Bold Italic'), local($path+'HeliosC-BoldItalic'),
      url($path+'HeliosC-BoldItalic.eot?#iefix') format('embedded-opentype'),
      url($path+'HeliosC-BoldItalic.woff2') format('woff2'),
      url($path+'HeliosC-BoldItalic.woff') format('woff'),
      url($path+'HeliosC-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

// 700 Ext

@font-face {
  font-family: 'HeliosExt';
  src: url($path+'HeliosExtC-Bold.eot');
  src: local($path+'HeliosExtC Bold'), local($path+'HeliosExtC-Bold'),
      url($path+'HeliosExtC-Bold.eot?#iefix') format('embedded-opentype'),
      url($path+'HeliosExtC-Bold.woff2') format('woff2'),
      url($path+'HeliosExtC-Bold.woff') format('woff'),
      url($path+'HeliosExtC-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'HeliosExt';
  src: url($path+'HeliosExtC-BoldItalic.eot');
  src: local($path+'HeliosExtC Bold Italic'), local($path+'HeliosExtC-BoldItalic'),
      url($path+'HeliosExtC-BoldItalic.eot?#iefix') format('embedded-opentype'),
      url($path+'HeliosExtC-BoldItalic.woff2') format('woff2'),
      url($path+'HeliosExtC-BoldItalic.woff') format('woff'),
      url($path+'HeliosExtC-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

// 700 Cond

@font-face {
  font-family: 'HeliosCond';
  src: url($path+'HeliosCondC-Bold.eot');
  src: local($path+'HeliosCondC Bold'), local($path+'HeliosCondC-Bold'),
      url($path+'HeliosCondC-Bold.eot?#iefix') format('embedded-opentype'),
      url($path+'HeliosCondC-Bold.woff2') format('woff2'),
      url($path+'HeliosCondC-Bold.woff') format('woff'),
      url($path+'HeliosCondC-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
    font-family: 'HeliosCond';
    src: url($path+'HeliosCondC-BoldItalic.eot');
    src: local($path+'HeliosCondC Bold Italic'), local($path+'HeliosCondC-BoldItalic'),
        url($path+'HeliosCondC-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url($path+'HeliosCondC-BoldItalic.woff2') format('woff2'),
        url($path+'HeliosCondC-BoldItalic.woff') format('woff'),
        url($path+'HeliosCondC-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}



// 900

@font-face {
  font-family: 'Helios';
  src: url($path+'HeliosBlackC.eot');
  src: local($path+'HeliosBlackC'),
      url($path+'HeliosBlackC.eot?#iefix') format('embedded-opentype'),
      url($path+'HeliosBlackC.woff2') format('woff2'),
      url($path+'HeliosBlackC.woff') format('woff'),
      url($path+'HeliosBlackC.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Helios';
  src: url($path+'HeliosBlackC-Italic.eot');
  src: local($path+'HeliosBlackC Italic'), local($path+'HeliosBlackC-Italic'),
      url($path+'HeliosBlackC-Italic.eot?#iefix') format('embedded-opentype'),
      url($path+'HeliosBlackC-Italic.woff2') format('woff2'),
      url($path+'HeliosBlackC-Italic.woff') format('woff'),
      url($path+'HeliosBlackC-Italic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

// 900 Ext

@font-face {
  font-family: 'HeliosExt';
  src: url($path+'HeliosExtBlackC.eot');
  src: local($path+'HeliosExtBlackC'),
      url($path+'HeliosExtBlackC.eot?#iefix') format('embedded-opentype'),
      url($path+'HeliosExtBlackC.woff2') format('woff2'),
      url($path+'HeliosExtBlackC.woff') format('woff'),
      url($path+'HeliosExtBlackC.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'HeliosExt';
  src: url($path+'HeliosExtBlackC-Italic.eot');
  src: local($path+'HeliosExtBlackC Italic'), local($path+'HeliosExtBlackC-Italic'),
      url($path+'HeliosExtBlackC-Italic.eot?#iefix') format('embedded-opentype'),
      url($path+'HeliosExtBlackC-Italic.woff2') format('woff2'),
      url($path+'HeliosExtBlackC-Italic.woff') format('woff'),
      url($path+'HeliosExtBlackC-Italic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

// 900 Cond

@font-face {
  font-family: 'HeliosCond';
  src: url($path+'HeliosCondBlackC.eot');
  src: local($path+'HeliosCondBlackC'),
      url($path+'HeliosCondBlackC.eot?#iefix') format('embedded-opentype'),
      url($path+'HeliosCondBlackC.woff2') format('woff2'),
      url($path+'HeliosCondBlackC.woff') format('woff'),
      url($path+'HeliosCondBlackC.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'HeliosCond';
  src: url($path+'HeliosCondBlackC-Italic.eot');
  src: local($path+'HeliosCondBlackC Italic'), local($path+'HeliosCondBlackC-Italic'),
      url($path+'HeliosCondBlackC-Italic.eot?#iefix') format('embedded-opentype'),
      url($path+'HeliosCondBlackC-Italic.woff2') format('woff2'),
      url($path+'HeliosCondBlackC-Italic.woff') format('woff'),
      url($path+'HeliosCondBlackC-Italic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}