:root{
  @media (max-width: 425px){
    --wrapper-padding: 2rem;
  }
  --wrapper-max-width: calc(90rem + var(--wrapper-padding));
}

.wrapper{
  max-width: var(--wrapper-max-width);
  padding: var(--wrapper-padding);
  margin-left: auto;
  margin-right: auto;
}