footer{
  background: var(--main);
  color: #fff;
  a{ color: #fff; }
  ul.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    li{
      &.left{
        overflow: hidden;
        position: relative;
        iframe{
          position: relative;
          width: 100%;
          min-height: 20rem;
          height: 100%;
          border: none;
        }
      }
      &.center{
        .about{
          display: flex;
          flex-flow: column;
          justify-content: center;
          gap: 1.5rem;
          div{
            text-align: center;
          }
          .flex-cont{
            display: flex;
            justify-content: space-between;
            .links{
              display: flex;
              justify-content: center;
              gap: .25rem;
            }
          }
        }
        p{
          text-align: center;
        }
        .email{
          text-decoration: underline;
        }
      }
      &.right{
        background: #aaa;
      }
    }
  }
}