footer{
  background: $bg;
  color: #fff;
  a{ color: #fff; }
  ul.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(20rem, 100%), 1fr));
    gap: 2rem;
    li{
      &.left{
        overflow: hidden;
        position: relative;
        background: $neutral;
        iframe{
          position: relative;
          width: 100%;
          min-height: 20rem;
          height: 100%;
          border: none;
        }
      }
      &.center{
        display: flex;
        flex-flow: column;
        justify-content: center;
        gap: 1.5rem;
        .item{
          text-align: center;
          p{
            text-align: center;
            font-weight: 300;
          }
          &.flex-cont{
            display: flex;
            justify-content: space-between;
            .links{
              display: flex;
              justify-content: center;
              gap: .25rem;
            }
          }
        }
        .email{
          text-decoration: underline;
        }
      }
      &.right{
        position: relative;
        background: $neutral;
        background-image: url("/public/assets/images/3D_Tour.jpg");
        background-size: cover;
        background-position: center;
        a{
          position: absolute;
          inset: 0;
          display: grid;
          place-items: center;
          background: #0000008e;
          font-weight: 700;
          font-size: 1.5rem;
        }
      }
    }
  }
}