section.hero{
  background: $bg;
  color: #fff;
  .wrapper{
    min-height: 98vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    .cont{
      display: flex;
      flex-flow: column;
      gap: .5rem;
      h1{
        font-size: 2.5rem;
        margin-bottom: .75rem;
      }
      p{
        max-width: 29rem;
        font-weight: 300;
      }
    }
  }
}