* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

:root {
  --wrapper-padding: 5rem;
  --wrapper-max-width: calc(90rem + var(--wrapper-padding));
}

.wrapper {
  max-width: var(--wrapper-max-width);
  padding: var(--wrapper-padding);
  margin-left: auto;
  margin-right: auto;
}

@font-face {
  font-family: "Helios";
  src: url("./ui/fonts/Helios/HeliosThinC.eot");
  src: local("./ui/fonts/Helios/HeliosThinC"), url("./ui/fonts/Helios/HeliosThinC.eot?#iefix") format("embedded-opentype"), url("./ui/fonts/Helios/HeliosThinC.woff2") format("woff2"), url("./ui/fonts/Helios/HeliosThinC.woff") format("woff"), url("./ui/fonts/Helios/HeliosThinC.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Helios";
  src: url("./ui/fonts/Helios/HeliosThinC-Italic.eot");
  src: local("./ui/fonts/Helios/HeliosThinC Italic"), local("./ui/fonts/Helios/HeliosThinC-Italic"), url("./ui/fonts/Helios/HeliosThinC-Italic.eot?#iefix") format("embedded-opentype"), url("./ui/fonts/Helios/HeliosThinC-Italic.woff2") format("woff2"), url("./ui/fonts/Helios/HeliosThinC-Italic.woff") format("woff"), url("./ui/fonts/Helios/HeliosThinC-Italic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "HeliosExt";
  src: url("./ui/fonts/Helios/HeliosExtThinC.eot");
  src: local("./ui/fonts/Helios/HeliosExtThinC"), url("./ui/fonts/Helios/HeliosExtThinC.eot?#iefix") format("embedded-opentype"), url("./ui/fonts/Helios/HeliosExtThinC.woff2") format("woff2"), url("./ui/fonts/Helios/HeliosExtThinC.woff") format("woff"), url("./ui/fonts/Helios/HeliosExtThinC.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "HeliosExt";
  src: url("./ui/fonts/Helios/HeliosExtThinC-Italic.eot");
  src: local("./ui/fonts/Helios/HeliosExtThinC Italic"), local("./ui/fonts/Helios/HeliosExtThinC-Italic"), url("./ui/fonts/Helios/HeliosExtThinC-Italic.eot?#iefix") format("embedded-opentype"), url("./ui/fonts/Helios/HeliosExtThinC-Italic.woff2") format("woff2"), url("./ui/fonts/Helios/HeliosExtThinC-Italic.woff") format("woff"), url("./ui/fonts/Helios/HeliosExtThinC-Italic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "HeliosCond";
  src: url("./ui/fonts/Helios/HeliosCondThinC.eot");
  src: local("./ui/fonts/Helios/HeliosCondThinC"), url("./ui/fonts/Helios/HeliosCondThinC.eot?#iefix") format("embedded-opentype"), url("./ui/fonts/Helios/HeliosCondThinC.woff2") format("woff2"), url("./ui/fonts/Helios/HeliosCondThinC.woff") format("woff"), url("./ui/fonts/Helios/HeliosCondThinC.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "HeliosCond";
  src: url("./ui/fonts/Helios/HeliosCondThinC-Italic.eot");
  src: local("./ui/fonts/Helios/HeliosCondThinC Italic"), local("./ui/fonts/Helios/HeliosCondThinC-Italic"), url("./ui/fonts/Helios/HeliosCondThinC-Italic.eot?#iefix") format("embedded-opentype"), url("./ui/fonts/Helios/HeliosCondThinC-Italic.woff2") format("woff2"), url("./ui/fonts/Helios/HeliosCondThinC-Italic.woff") format("woff"), url("./ui/fonts/Helios/HeliosCondThinC-Italic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Helios";
  src: url("./ui/fonts/Helios/HeliosLightC.eot");
  src: local("./ui/fonts/Helios/HeliosLightC"), url("./ui/fonts/Helios/HeliosLightC.eot?#iefix") format("embedded-opentype"), url("./ui/fonts/Helios/HeliosLightC.woff2") format("woff2"), url("./ui/fonts/Helios/HeliosLightC.woff") format("woff"), url("./ui/fonts/Helios/HeliosLightC.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Helios";
  src: url("./ui/fonts/Helios/HeliosLightC-Italic.eot");
  src: local("./ui/fonts/Helios/HeliosLightC Italic"), local("./ui/fonts/Helios/HeliosLightC-Italic"), url("./ui/fonts/Helios/HeliosLightC-Italic.eot?#iefix") format("embedded-opentype"), url("./ui/fonts/Helios/HeliosLightC-Italic.woff2") format("woff2"), url("./ui/fonts/Helios/HeliosLightC-Italic.woff") format("woff"), url("./ui/fonts/Helios/HeliosLightC-Italic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "HeliosExt";
  src: url("./ui/fonts/Helios/HeliosExtLightC.eot");
  src: local("./ui/fonts/Helios/HeliosExtLightC"), url("./ui/fonts/Helios/HeliosExtLightC.eot?#iefix") format("embedded-opentype"), url("./ui/fonts/Helios/HeliosExtLightC.woff2") format("woff2"), url("./ui/fonts/Helios/HeliosExtLightC.woff") format("woff"), url("./ui/fonts/Helios/HeliosExtLightC.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "HeliosExt";
  src: url("./ui/fonts/Helios/HeliosExtLightC-Italic.eot");
  src: local("./ui/fonts/Helios/HeliosExtLightC Italic"), local("./ui/fonts/Helios/HeliosExtLightC-Italic"), url("./ui/fonts/Helios/HeliosExtLightC-Italic.eot?#iefix") format("embedded-opentype"), url("./ui/fonts/Helios/HeliosExtLightC-Italic.woff2") format("woff2"), url("./ui/fonts/Helios/HeliosExtLightC-Italic.woff") format("woff"), url("./ui/fonts/Helios/HeliosExtLightC-Italic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "HeliosCond";
  src: url("./ui/fonts/Helios/HeliosCondLightC.eot");
  src: local("./ui/fonts/Helios/HeliosCondLightC"), url("./ui/fonts/Helios/HeliosCondLightC.eot?#iefix") format("embedded-opentype"), url("./ui/fonts/Helios/HeliosCondLightC.woff2") format("woff2"), url("./ui/fonts/Helios/HeliosCondLightC.woff") format("woff"), url("./ui/fonts/Helios/HeliosCondLightC.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "HeliosCond";
  src: url("./ui/fonts/Helios/HeliosCondLightC-Italic.eot");
  src: local("./ui/fonts/Helios/HeliosCondLightC Italic"), local("./ui/fonts/Helios/HeliosCondLightC-Italic"), url("./ui/fonts/Helios/HeliosCondLightC-Italic.eot?#iefix") format("embedded-opentype"), url("./ui/fonts/Helios/HeliosCondLightC-Italic.woff2") format("woff2"), url("./ui/fonts/Helios/HeliosCondLightC-Italic.woff") format("woff"), url("./ui/fonts/Helios/HeliosCondLightC-Italic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Helios";
  src: url("./ui/fonts/Helios/HeliosC-Italic.eot");
  src: local("./ui/fonts/Helios/HeliosC Italic"), local("./ui/fonts/Helios/HeliosC-Italic"), url("./ui/fonts/Helios/HeliosC-Italic.eot?#iefix") format("embedded-opentype"), url("./ui/fonts/Helios/HeliosC-Italic.woff2") format("woff2"), url("./ui/fonts/Helios/HeliosC-Italic.woff") format("woff"), url("./ui/fonts/Helios/HeliosC-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Helios";
  src: url("./ui/fonts/Helios/HeliosC.eot");
  src: local("./ui/fonts/Helios/HeliosC"), url("./ui/fonts/Helios/HeliosC.eot?#iefix") format("embedded-opentype"), url("./ui/fonts/Helios/HeliosC.woff2") format("woff2"), url("./ui/fonts/Helios/HeliosC.woff") format("woff"), url("./ui/fonts/Helios/HeliosC.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "HeliosExt";
  src: url("./ui/fonts/Helios/HeliosExtC.eot");
  src: local("./ui/fonts/Helios/HeliosExtC"), url("./ui/fonts/Helios/HeliosExtC.eot?#iefix") format("embedded-opentype"), url("./ui/fonts/Helios/HeliosExtC.woff2") format("woff2"), url("./ui/fonts/Helios/HeliosExtC.woff") format("woff"), url("./ui/fonts/Helios/HeliosExtC.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "HeliosExt";
  src: url("./ui/fonts/Helios/HeliosExtC-Italic.eot");
  src: local("./ui/fonts/Helios/HeliosExtC Italic"), local("./ui/fonts/Helios/HeliosExtC-Italic"), url("./ui/fonts/Helios/HeliosExtC-Italic.eot?#iefix") format("embedded-opentype"), url("./ui/fonts/Helios/HeliosExtC-Italic.woff2") format("woff2"), url("./ui/fonts/Helios/HeliosExtC-Italic.woff") format("woff"), url("./ui/fonts/Helios/HeliosExtC-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "HeliosCond";
  src: url("./ui/fonts/Helios/HeliosCondC.eot");
  src: local("./ui/fonts/Helios/HeliosCondC"), url("./ui/fonts/Helios/HeliosCondC.eot?#iefix") format("embedded-opentype"), url("./ui/fonts/Helios/HeliosCondC.woff2") format("woff2"), url("./ui/fonts/Helios/HeliosCondC.woff") format("woff"), url("./ui/fonts/Helios/HeliosCondC.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "HeliosCond";
  src: url("./ui/fonts/Helios/HeliosCondC-Italic.eot");
  src: local("./ui/fonts/Helios/HeliosCondC Italic"), local("./ui/fonts/Helios/HeliosCondC-Italic"), url("./ui/fonts/Helios/HeliosCondC-Italic.eot?#iefix") format("embedded-opentype"), url("./ui/fonts/Helios/HeliosCondC-Italic.woff2") format("woff2"), url("./ui/fonts/Helios/HeliosCondC-Italic.woff") format("woff"), url("./ui/fonts/Helios/HeliosCondC-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "HeliosCompressed";
  src: url("./ui/fonts/Helios/HeliosCompressedC.eot");
  src: local("./ui/fonts/Helios/HeliosCompressedC"), url("./ui/fonts/Helios/HeliosCompressedC.eot?#iefix") format("embedded-opentype"), url("./ui/fonts/Helios/HeliosCompressedC.woff2") format("woff2"), url("./ui/fonts/Helios/HeliosCompressedC.woff") format("woff"), url("./ui/fonts/Helios/HeliosCompressedC.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "HeliosUltraCompressed";
  src: url("./ui/fonts/Helios/HeliosUltraCompressedC.eot");
  src: local("./ui/fonts/Helios/HeliosUltraCompressedC"), url("./ui/fonts/Helios/HeliosUltraCompressedC.eot?#iefix") format("embedded-opentype"), url("./ui/fonts/Helios/HeliosUltraCompressedC.woff2") format("woff2"), url("./ui/fonts/Helios/HeliosUltraCompressedC.woff") format("woff"), url("./ui/fonts/Helios/HeliosUltraCompressedC.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Helios";
  src: url("./ui/fonts/Helios/HeliosC-Bold.eot");
  src: local("./ui/fonts/Helios/HeliosC Bold"), local("./ui/fonts/Helios/HeliosC-Bold"), url("./ui/fonts/Helios/HeliosC-Bold.eot?#iefix") format("embedded-opentype"), url("./ui/fonts/Helios/HeliosC-Bold.woff2") format("woff2"), url("./ui/fonts/Helios/HeliosC-Bold.woff") format("woff"), url("./ui/fonts/Helios/HeliosC-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Helios";
  src: url("./ui/fonts/Helios/HeliosC-BoldItalic.eot");
  src: local("./ui/fonts/Helios/HeliosC Bold Italic"), local("./ui/fonts/Helios/HeliosC-BoldItalic"), url("./ui/fonts/Helios/HeliosC-BoldItalic.eot?#iefix") format("embedded-opentype"), url("./ui/fonts/Helios/HeliosC-BoldItalic.woff2") format("woff2"), url("./ui/fonts/Helios/HeliosC-BoldItalic.woff") format("woff"), url("./ui/fonts/Helios/HeliosC-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "HeliosExt";
  src: url("./ui/fonts/Helios/HeliosExtC-Bold.eot");
  src: local("./ui/fonts/Helios/HeliosExtC Bold"), local("./ui/fonts/Helios/HeliosExtC-Bold"), url("./ui/fonts/Helios/HeliosExtC-Bold.eot?#iefix") format("embedded-opentype"), url("./ui/fonts/Helios/HeliosExtC-Bold.woff2") format("woff2"), url("./ui/fonts/Helios/HeliosExtC-Bold.woff") format("woff"), url("./ui/fonts/Helios/HeliosExtC-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "HeliosExt";
  src: url("./ui/fonts/Helios/HeliosExtC-BoldItalic.eot");
  src: local("./ui/fonts/Helios/HeliosExtC Bold Italic"), local("./ui/fonts/Helios/HeliosExtC-BoldItalic"), url("./ui/fonts/Helios/HeliosExtC-BoldItalic.eot?#iefix") format("embedded-opentype"), url("./ui/fonts/Helios/HeliosExtC-BoldItalic.woff2") format("woff2"), url("./ui/fonts/Helios/HeliosExtC-BoldItalic.woff") format("woff"), url("./ui/fonts/Helios/HeliosExtC-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "HeliosCond";
  src: url("./ui/fonts/Helios/HeliosCondC-Bold.eot");
  src: local("./ui/fonts/Helios/HeliosCondC Bold"), local("./ui/fonts/Helios/HeliosCondC-Bold"), url("./ui/fonts/Helios/HeliosCondC-Bold.eot?#iefix") format("embedded-opentype"), url("./ui/fonts/Helios/HeliosCondC-Bold.woff2") format("woff2"), url("./ui/fonts/Helios/HeliosCondC-Bold.woff") format("woff"), url("./ui/fonts/Helios/HeliosCondC-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "HeliosCond";
  src: url("./ui/fonts/Helios/HeliosCondC-BoldItalic.eot");
  src: local("./ui/fonts/Helios/HeliosCondC Bold Italic"), local("./ui/fonts/Helios/HeliosCondC-BoldItalic"), url("./ui/fonts/Helios/HeliosCondC-BoldItalic.eot?#iefix") format("embedded-opentype"), url("./ui/fonts/Helios/HeliosCondC-BoldItalic.woff2") format("woff2"), url("./ui/fonts/Helios/HeliosCondC-BoldItalic.woff") format("woff"), url("./ui/fonts/Helios/HeliosCondC-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Helios";
  src: url("./ui/fonts/Helios/HeliosBlackC.eot");
  src: local("./ui/fonts/Helios/HeliosBlackC"), url("./ui/fonts/Helios/HeliosBlackC.eot?#iefix") format("embedded-opentype"), url("./ui/fonts/Helios/HeliosBlackC.woff2") format("woff2"), url("./ui/fonts/Helios/HeliosBlackC.woff") format("woff"), url("./ui/fonts/Helios/HeliosBlackC.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Helios";
  src: url("./ui/fonts/Helios/HeliosBlackC-Italic.eot");
  src: local("./ui/fonts/Helios/HeliosBlackC Italic"), local("./ui/fonts/Helios/HeliosBlackC-Italic"), url("./ui/fonts/Helios/HeliosBlackC-Italic.eot?#iefix") format("embedded-opentype"), url("./ui/fonts/Helios/HeliosBlackC-Italic.woff2") format("woff2"), url("./ui/fonts/Helios/HeliosBlackC-Italic.woff") format("woff"), url("./ui/fonts/Helios/HeliosBlackC-Italic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "HeliosExt";
  src: url("./ui/fonts/Helios/HeliosExtBlackC.eot");
  src: local("./ui/fonts/Helios/HeliosExtBlackC"), url("./ui/fonts/Helios/HeliosExtBlackC.eot?#iefix") format("embedded-opentype"), url("./ui/fonts/Helios/HeliosExtBlackC.woff2") format("woff2"), url("./ui/fonts/Helios/HeliosExtBlackC.woff") format("woff"), url("./ui/fonts/Helios/HeliosExtBlackC.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "HeliosExt";
  src: url("./ui/fonts/Helios/HeliosExtBlackC-Italic.eot");
  src: local("./ui/fonts/Helios/HeliosExtBlackC Italic"), local("./ui/fonts/Helios/HeliosExtBlackC-Italic"), url("./ui/fonts/Helios/HeliosExtBlackC-Italic.eot?#iefix") format("embedded-opentype"), url("./ui/fonts/Helios/HeliosExtBlackC-Italic.woff2") format("woff2"), url("./ui/fonts/Helios/HeliosExtBlackC-Italic.woff") format("woff"), url("./ui/fonts/Helios/HeliosExtBlackC-Italic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "HeliosCond";
  src: url("./ui/fonts/Helios/HeliosCondBlackC.eot");
  src: local("./ui/fonts/Helios/HeliosCondBlackC"), url("./ui/fonts/Helios/HeliosCondBlackC.eot?#iefix") format("embedded-opentype"), url("./ui/fonts/Helios/HeliosCondBlackC.woff2") format("woff2"), url("./ui/fonts/Helios/HeliosCondBlackC.woff") format("woff"), url("./ui/fonts/Helios/HeliosCondBlackC.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "HeliosCond";
  src: url("./ui/fonts/Helios/HeliosCondBlackC-Italic.eot");
  src: local("./ui/fonts/Helios/HeliosCondBlackC Italic"), local("./ui/fonts/Helios/HeliosCondBlackC-Italic"), url("./ui/fonts/Helios/HeliosCondBlackC-Italic.eot?#iefix") format("embedded-opentype"), url("./ui/fonts/Helios/HeliosCondBlackC-Italic.woff2") format("woff2"), url("./ui/fonts/Helios/HeliosCondBlackC-Italic.woff") format("woff"), url("./ui/fonts/Helios/HeliosCondBlackC-Italic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
body, input, button {
  font-family: "Helios";
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

h1 {
  font-size: 1.85rem;
  margin-bottom: 3.5rem;
}

.btn {
  cursor: pointer;
  display: block;
  background: lightgray;
  font-size: 1rem;
  font-weight: 700;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem 3rem;
}

header {
  position: absolute;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
}
header a {
  color: #fff;
  font-weight: 300;
}
header nav ul {
  display: flex;
  gap: 2.5rem;
}

section.hero {
  background: linear-gradient(120deg, #402EFE, #402EFE 6.25%, #3F34FE 6.25%, #3F34FE 12.5%, #3E3AFE 12.5%, #3E3AFE 18.75%, #3D40FE 18.75%, #3D40FE 25%, #3D46FE 25%, #3D46FE 31.25%, #3C4CFE 31.25%, #3C4CFE 37.5%, #3B52FE 37.5%, #3B52FE 43.75%, #3A58FE 43.75%, #3A58FE 50%, #395EFF 50%, #395EFF 56.25%, #3864FF 56.25%, #3864FF 62.5%, #376AFF 62.5%, #376AFF 68.75%, #3670FF 68.75%, #3670FF 75%, #3676FF 75%, #3676FF 81.25%, #357CFF 81.25%, #357CFF 87.5%, #3482FF 87.5%, #3482FF 93.75%, #3388FF 93.75%, #3388FF);
  color: #fff;
}
section.hero .wrapper {
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  flex-flow: column;
  justify-content: center;
}
section.hero .wrapper .cont {
  display: flex;
  flex-flow: column;
  gap: 0.5rem;
}
section.hero .wrapper .cont h1 {
  font-size: 2.5rem;
  margin-bottom: 0.75rem;
}
section.hero .wrapper .cont p {
  max-width: 29rem;
  font-weight: 300;
}

section.plan .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(20rem, 100%), 1fr));
}
section.plan .grid .grid-item {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
section.plan .grid .grid-item.left ul {
  display: flex;
  flex-flow: column;
  gap: 2rem;
}
section.plan .grid .grid-item.left ul li {
  display: flex;
  align-items: center;
  gap: 1rem;
}
section.plan .grid .grid-item.left ul li .num {
  flex-shrink: 0;
  width: 3rem;
  height: 3rem;
  display: grid;
  place-items: center;
  font-size: 2rem;
  color: #395EFF;
  border: 0.0625rem solid #395EFF;
  border-radius: 50%;
}
section.plan .grid .grid-item.center {
  display: flex;
  flex-flow: column;
  gap: 1rem;
}
section.plan .grid .grid-item.center .num {
  font-size: 7.5rem;
  font-weight: 700;
  color: #395EFF;
}
section.plan .grid .grid-item.right div {
  text-align: center;
}
section.plan .grid .grid-item.right .btn {
  margin-top: 2rem;
}

section.qa ul {
  display: flex;
  flex-flow: column;
  gap: 1rem;
}
section.qa ul li.hidden .question .sign::after {
  display: block;
}
section.qa ul li.hidden .answer {
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
}
section.qa ul li .question {
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #D9D9D9;
  padding: 1.75rem;
  border-radius: 0.5rem;
}
section.qa ul li .question .sign {
  position: relative;
  width: 1rem;
  height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
section.qa ul li .question .sign::before, section.qa ul li .question .sign::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 10%;
  background: #000;
}
section.qa ul li .question .sign::after {
  display: none;
  transform: rotate(90deg);
}
section.qa ul li .answer {
  overflow: hidden;
  line-height: 1.5;
  background: #F7F7F7;
  border: 0.0625rem solid lightgrey;
  border-top: 0.5rem solid lightgrey;
  border-radius: 0 0 0.5rem 0.5rem;
  padding: 1.75rem;
  margin-top: -0.5rem;
}

section.signup form {
  display: flex;
  flex-flow: column;
  gap: 1rem;
}
section.signup form .row {
  display: grid;
  gap: 1rem;
}
section.signup form .row.row1 {
  grid-template-columns: repeat(2, 1fr);
}
section.signup form .row.row2 {
  grid-template-columns: repeat(3, 1fr);
}
section.signup form .row.row3, section.signup form .row.row4 {
  grid-template-columns: repeat(4, 1fr);
}
section.signup form .row .input-cont {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
}

footer {
  background: linear-gradient(120deg, #402EFE, #402EFE 6.25%, #3F34FE 6.25%, #3F34FE 12.5%, #3E3AFE 12.5%, #3E3AFE 18.75%, #3D40FE 18.75%, #3D40FE 25%, #3D46FE 25%, #3D46FE 31.25%, #3C4CFE 31.25%, #3C4CFE 37.5%, #3B52FE 37.5%, #3B52FE 43.75%, #3A58FE 43.75%, #3A58FE 50%, #395EFF 50%, #395EFF 56.25%, #3864FF 56.25%, #3864FF 62.5%, #376AFF 62.5%, #376AFF 68.75%, #3670FF 68.75%, #3670FF 75%, #3676FF 75%, #3676FF 81.25%, #357CFF 81.25%, #357CFF 87.5%, #3482FF 87.5%, #3482FF 93.75%, #3388FF 93.75%, #3388FF);
  color: #fff;
}
footer a {
  color: #fff;
}
footer ul.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(20rem, 100%), 1fr));
  gap: 2rem;
}
footer ul.grid li.left {
  overflow: hidden;
  position: relative;
  background: #aaa;
}
footer ul.grid li.left iframe {
  position: relative;
  width: 100%;
  min-height: 20rem;
  height: 100%;
  border: none;
}
footer ul.grid li.center {
  display: flex;
  flex-flow: column;
  justify-content: center;
  gap: 1.5rem;
}
footer ul.grid li.center .item {
  text-align: center;
}
footer ul.grid li.center .item p {
  text-align: center;
  font-weight: 300;
}
footer ul.grid li.center .item.flex-cont {
  display: flex;
  justify-content: space-between;
}
footer ul.grid li.center .item.flex-cont .links {
  display: flex;
  justify-content: center;
  gap: 0.25rem;
}
footer ul.grid li.center .email {
  text-decoration: underline;
}
footer ul.grid li.right {
  min-height: 20rem;
  position: relative;
  background: #aaa;
  background-image: url("/public/assets/images/3D_Tour.jpg");
  background-size: cover;
  background-position: center;
}
footer ul.grid li.right a {
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
  background: rgba(0, 0, 0, 0.5568627451);
  font-weight: 700;
  font-size: 1.5rem;
}/*# sourceMappingURL=index.css.map */